<h1>Information about Job:</h1>
<p>{{job.jobTitle}}
</p>
<p>

    Salary: {{job.salary | currency}} <br>
    Description: {{job.description}} <br>
    
 
</p>


<button (click)="deleteOneJob()" class="delete">Delete</button>

<p>Fill the following form to Update A new Job</p><br>
<form #gameData="ngForm" (ngSubmit)="updateJob(gameData.value)">
    <label>Title: </label>
    <input type="text" name="title" ngModel /><br><br>
    <label>Rate: </label>
    <input type="text" name="rate" ngModel /><br><br>
    <label>Price: </label>
    <input type="number" name="price" ngModel /><br><br>
    <button type="submit"class="btn-success">Update</button>
  </form>
